<h1>Form</h1>
<form method="POST" action="/new">
    <input type="text" name="messageUser" placeholder="your name">
    <input type="text" name="messageText" placeholder="your message">
    <button>Submit</button>
</form>